{% load static %}
<!-- MmmTurkey embed -->
<script src="{% static "survey/js/globals/jquery.ba-throttle-debounce.min.js" %}"></script>
<script src="{% static "survey/js/globals/visibility_changes.js" %}"></script>
<script src="{{ embed_uri }}"></script>
<script>
  var turkey = new AuditorHandler({{ submission_endpoint }}, {{ fetch_interaction_endpoint }},
                                  {{ task_pk }}, {{ fetch_data }});
</script>
{% for auditor_uri in auditor_uris %}
  <script src="{{ auditor_uri }}"></script>
{% endfor %}
<!-- MmmTurkey embed -->