<div class="step-mc" id="step-mc-{{ step_instance.pk }}">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ step_instance.title }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>{{ step_instance.text }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% for response in responses %}
        <div class="radio step-mc-response" id="step-mc-response-{{ response.pk }}">
          <label>
            <input type="radio" name="step-mc-{{ step_instance.pk }}"
                   id="step-mc-response-{{ response.pk }}"
                   value="step-mc-response-{{ response.pk }}">
            {{ response.text }}
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>