{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ task.survey_name }}</title>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% include 'survey/admin/embed_template.html' with task_pk=task.pk token_name=token_name fetch_interaction_endpoint=fetch_interaction_endpoint %}
    <script src="{% static "survey/js/submission_handler.js" %}"></script>
    <script>
      var overlord = new SubmissionHandler(
          'http://www.google.com/',
          interaction_manager
      );
      $(document).ready(function() {
        $('#submit').click(overlord.submit.bind(overlord));
      });
    </script>
    {% for step_loc in step_script_locations %}
      <script src="{% static step_loc %}"></script>
    {% endfor %}
  </head>
  <body>
    <div class="container-fluid">
      {% for step in steps %}
        <div class="row step-row">
          <div class="col-md-12 step-col">
            {{ step.template_code }}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col-md-12">
          <input class="btn btn-primary" type="submit" id="submit" value="Submit">
        </div>
      </div>
    </div>
  </body>
</html>