{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ task.survey_name }}</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{% static "survey/js/globals/jquery.ba-throttle-debounce.min.js" %}"></script>
    <script>
      // TODO: Replace placholder
      var NEXT_PAGE = "http://www.google.com";
      var SUBMISSION_ENDPOINT = {% url 'recordSubmission' pk=task_interaction_model.pk %};
    </script>
    <script src="{% static "survey/js/globals/visibility_changes.js" %}"></script>
    <script src="{% static "survey/js/submission_handler.js" %}"></script>
    {% for auditor_loc in auditor_script_locations %}
      <script src="{% static auditor_loc %}"></script>
    {% endfor %}
    {% for step_loc in step_script_locations %}
      <script src="{% static step_loc %}"></script>
    {% endfor %}
  </head>
  <body>
    <div class="container-fluid">
      {% for step in steps %}
        <div class="row step-row">
          <div class="col-md-12 step-col">
            {{ step.template_code }}
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>