{% extends 'admin/change_form.html' %}

{% block after_field_sets %}
  {% load i18n %}
  <div class="form-row">
    <p class="help">{% trans 'If you are currently creating a new task, and have not saved, please click Save and continue editing before you use the form elements below' %}</p>
  </div>
  <div class="form-row">
    <h2>{% trans 'Associated Steps:' %}</h2>
    <ul>
      {% for url, related_step in related_steps %}
        <li>
          <a href="{{ url }}">
            {% blocktrans with step_num=related_step.step_num step=related_step url=url %}
              Step #{{ step_num }}: {{ step }}
            {% endblocktrans %}
          </a>
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'admin:survey_task_add_step' task_id=task_id %}">{% trans 'Add Step' %}</a>
  </div>
  <div class="form-row">

    <!-- TODO: Link to Add View which I am currently figuring out how to add to admin -->
    <h2>{% trans 'Associated Auditors:' %}</h2>
    <ul>
      {% for url, related_auditor in related_auditors %}
        <li>
          <a href="{{ url }}">{{ related_auditor }}</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'admin:survey_task_add_auditor' task_id=task_id %}">{% trans 'Add Auditor' %}</a>
  </div>
{% endblock %}